<a href="https://colab.research.google.com/github/rahiakela/natural-language-processing-research-and-practice/blob/main/natural-language-processing-with-pytorch/03-neural-networks-foundational/01_dataset_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Yelp Review Dataset preprocessing

##Setup

In [ ]:
import collections
import numpy as np
import pandas as pd
import re

from argparse import Namespace

In [ ]:
from google.colab import files
files.upload() # upload kaggle.json file

In [ ]:
%%shell

mkdir -p ~/.kaggle
mv kaggle.json ~/.kaggle/
ls ~/.kaggle
chmod 600 /root/.kaggle/kaggle.json

# download dataset from kaggle> URL: https://www.kaggle.com/hhalalwi/yelp-light?select=raw_test.csv
kaggle datasets download -d hhalalwi/yelp-light
unzip -qq yelp-light.zip

kaggle.json
Downloading yelp-light.zip to /content
 97% 170M/176M [00:01<00:00, 89.0MB/s]
100% 176M/176M [00:01<00:00, 114MB/s]
replace raw_test.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y

##Dataset preproccessing

In [ ]:
args = Namespace(
    raw_train_dataset_csv="raw_train.csv",
    raw_test_dataset_csv="raw_test.csv",
    train_proportion=0.7,
    val_proportion=0.3,
    output_munged_csv="reviews_with_splits_full.csv",
    seed=1337
)

In [ ]:
# Read raw data
train_reviews = pd.read_csv(args.raw_train_dataset_csv, header=None, names=['rating', 'review'])
train_reviews = train_reviews[~pd.isnull(train_reviews.review)]
test_reviews = pd.read_csv(args.raw_test_dataset_csv, header=None, names=['rating', 'review'])
test_reviews = test_reviews[~pd.isnull(test_reviews.review)]

In [ ]:
train_reviews.head()

   rating                                             review
0       1  Unfortunately, the frustration of being Dr. Go...
1       2  Been going to Dr. Goldberg for over 10 years. ...
2       1  I don't know what Dr. Goldberg was like before...
3       1  I'm writing this review to give you a heads up...
4       2  All the food is great here. But the best thing...

In [ ]:
test_reviews.head()

   rating                                             review
0       1  Ordered a large Mango-Pineapple smoothie. Stay...
1       2  Quite a surprise!  \n\nMy wife and I loved thi...
2       1  First I will say, this is a nice atmosphere an...
3       2  I was overall pretty impressed by this hotel. ...
4       1  Video link at bottom review. Worst service I h...

In [ ]:
# Unique classes
set(train_reviews.rating)

{1, 2}